<form method="POST" action="/new">
  <h1>New Message Form</h1>
  <input type="text" placeholder="Name" name="userText" required />
  <input type="text" placeholder="Message" name="messageText" required />
  <button type="submit">Submit</button>

  <a href="/">
    <span> view messages</span>
  </a>
</form>
