<html>
  <head>
    <title>INDEX</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="messages-container">
      <% messages.forEach((message) => { %>
      <div class="message-box">
        <div class="message-header">
          <strong>User:</strong> <%= message.user %>
        </div>
        <div class="message-content">
          <strong>Message:</strong> <%= message.text %>
        </div>
        <a href="/message/<%= message.id %>"> show messages </a>
      </div>
      <% }) %>
    </div>
    <a href="/new">Add New Message</a>
  </body>
</html>
