<html>
  <head>
    <title>Message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div><%= message.user %></div>
    <div><%= message.text %></div>
    <div><%= message.added.toDateString() %></div>
  </body>
</html>
